<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Student result</title>
</head>
<body>
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="result" type="com.secure_srm.model.academic.StudentResult"*/-->
<div class="container" sec:authorize="hasAuthority('teacher.read')" th:object="${result}">
    <div class="row">
        <div class="col">
            <h2>Student result</h2>
        </div>
    </div>

    <!--/*@thymesVar id="resultFeedback" type="java.lang.String"*/-->
    <span class="help-block" th:if="${resultFeedback != null}">
        <p class="alert alert-info" th:text="${resultFeedback}"></p>
    </span>
    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Task title</label>
        </div>
        <div class="col-sm-8">
            <label><a th:text="${result.studentTask.title}"
            th:href="@{/studentTask/{id}(id=${result.studentTask.id})}"></a></label>
        </div>
    </div>
    <br/>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Student</label>
        </div>
        <div class="col-sm-8">
            <label><a th:text="${result.student.firstName + ' ' + result.student.lastName}"
                th:href="@{/students/{id}(id=${result.student.id})}">
            </a></label>
        </div>
    </div>
    <br/>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Score/grade</label>
        </div>
        <div class="col-sm-8">
            <label size="50" th:text="${result.score}"></label>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Maximum score/grade</label>
        </div>
        <div class="col-sm-8">
            <label size="50" th:text="${result.studentTask.maxScore}"></label>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Comments</label>
        </div>
        <div class="col-sm-8">
            <p th:text="${result.comments}"></p>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Teacher (marker)</label>
        </div>
        <div class="col-sm-8">
            <label><a th:text="${result.teacher.firstName + ' ' + result.teacher.lastName}"
                th:href="@{/teachers/{id}(id=${result.teacher.id})}"></a></label>
        </div>
    </div>
    <br/>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Teacher (task owner)</label>
        </div>
        <div class="col-sm-8">
            <label><a th:text="${result.studentTask.teacherUploader.firstName + ' ' + result.studentTask.teacherUploader.lastName}"
                      th:href="@{/teachers/{id}(id=${result.studentTask.teacherUploader.id})}"></a></label>
        </div>
    </div>
    <br/>

    <div class="row align-items-start">
        <div class="col-sm-2">
            <label>Subject</label>
        </div>
        <div class="col-sm-8">
            <label><a th:text="${result.studentTask.subject.subjectName}"
                th:href="@{/subjects/{id}(id=${result.studentTask.subject.id})}"></a></label>
        </div>
    </div>
    <br />

    <br/>
    <div class="row align-items-start">
        <div class="col-sm-5">
            <a class="btn btn-outline-primary" th:href="@{/studentResult/index}"
               role="button">Return to result index</a>
            <a class="btn btn-outline-warning" th:href="@{/studentResult/{resultId}/edit(resultId=${result.id})}"
               role="button" sec:authorize="hasAuthority('teacher.update')">Edit result</a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>