<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Student tasks</title>
</head>
<body>
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<div class="container-fluid px-0" sec:authorize="hasAuthority('teacher.read')">
    <table class="table table-hover table-sm table-striped">
        <thead class="thead-light">
        <tr>
            <th class="px-3" sec:authorize="hasAuthority('teacher.update')">ID</th>
            <th class="px-3">Title</th>
            <th class="px-3">Max score</th>
            <th class="px-3">Contributor?</th>
            <th class="px-3">Task owner</th>
            <th class="px-3">Subject</th>
            <th class="px-3">Task type</th>
            <th class="px-3">No. of student records</th>
        </tr>
        </thead>
        <tbody th:object="${tasks}">
        <!--/*@thymesVar id="task" type="com.secure_srm.model.academic.StudentTask"*/-->
        <tr th:if="${tasks.isEmpty()}">
            <th class="px-3" sec:authorize="hasAuthority('teacher.update')"></th>
            <td class="px-3">(No student tasks on record)</td>
            <td class="px-3"></td>
            <td class="px-3"></td>
            <td class="px-3"></td>
            <td class="px-3"></td>
            <td class="px-3"></td>
            <td class="px-3"></td>
        </tr>
        <tr th:unless="${tasks.isEmpty()}" th:each="task: ${tasks}">
            <th class="px-3" sec:authorize="hasAuthority('teacher.read')"><a role="button"
                                                                             class="btn btn-sm btn-outline-info" th:href="@{/studentTask/{id}(id=${task.id})}"
                                                                             th:text="${task.id}"></a></th>
            <td class="px-3" th:text="${task.title}"></td>
            <td class="px-3" th:text="${task.maxScore}"></td>
            <td class="px-3" th:if="${task.isContributor()}">Yes</td>
            <td class="px-3" th:unless="${task.isContributor()}">No</td>
            <td class="px-3" th:text="${task.teacherUploader.firstName + ' ' + task.teacherUploader.lastName}"></td>
            <td class="px-3" th:text="${task.subject.subjectName}"></td>
            <td class="px-3" th:text="${task.assignmentType.description}"></td>
            <td class="px-3" th:text="${task.studentResults.size()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>