<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Update teacher</title>
</head>
<body>
<nav th:replace="fragments/navTeacherSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="user" type="com.secure_srm.model.security.User"*/-->
<div class="container" sec:authorize="hasAuthority('admin.update')" th:object="${user}" >
    <br/>
    <div class="row">
        <div class="col">
            <h2>Update teacher details</h2>
        </div>
    </div>

    <form th:action="@{/teachers/{teacherID}/edit(teacherID=${teacher.id})}"
          method="post" class="form-horizontal" id="add-teacher-form">

        <div th:if="${#fields.hasErrors('*')}" class="col-sm-12 alert alert-danger" role="alert">
            <p>Errors with form data listed below</p>
        </div>

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label">SRM login details (required)</label>
            </div>
            <div class="col-sm-8" th:class="${#fields.hasErrors('*')} ? 'col-sm-8 has-error' : 'col-sm-8'">
                <input size="50" placeholder="Username" th:field="*{username}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('username')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('username')}" th:text="${err}">Error</li>
                    </ul>
                </span>
            </div>
        </div>
        <br/>

        <!--/*@thymesVar id="teacher" type="com.secure_srm.model.security.TeacherUser"*/-->
        <div th:object="${teacher}">
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label">Teacher name</label>
                </div>
                <div class="col-sm-8" th:class="${#fields.hasErrors('*')} ? 'col-sm-8 has-error' : 'col-sm-8'">
                    <input size="50" placeholder="First name" th:field="*{firstName}" th:errorclass="has-error"/>
                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Error</li>
                    </ul>
                </span>
                    <input size="50" placeholder="Last name" th:field="*{lastName}" th:errorclass="has-error"/>
                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Error</li>
                    </ul>
                </span>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label">Department</label>
                </div>
                <div class="col-sm-8">
                    <input size="50" placeholder="Department name" th:field="*{department}"/>
                </span>
                </div>
            </div>
            <br/>

            <!--/*@thymesVar id="subject" type="com.secure_srm.model.academic.Subject"*/-->
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label">Subject(s) taught</label>
                </div>
                <div class="col-sm-8" th:if="*{subjects.isEmpty()}">
                    <label size="50">(no subject on file)</label>
                </div>
                <div class="col-sm-8" th:unless="*{subjects.isEmpty()}">
                    <div th:each="subject: ${subjectsOnFile}">
                        <input type="checkbox" th:field="*{subjects}" th:value="${subject.id}">
                        <label><a th:text="${subject.getSubjectName()}"
                                  th:href="@{/subjects/{subjectID}(subjectID=${subject.id})}"></a>
                        </label>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label">Contact details</label>
                </div>
                <div class="col-sm-8">
                    <div>
                        <label for="emailAddress">Email address </label>
                        <input id="emailAddress" size="40" th:field="*{contactDetail.email}"/>
                        <br/>
                        <label for="phoneNumber">Phone number</label>
                        <input id="phoneNumber" size="40" th:field="*{contactDetail.phoneNumber}"/>
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
        </div>

        <div>
            <p th:text="${'Account created: ' + user.getCreatedDate()}">
        </div>
        <div>
            <p th:text="${'Account last modified: ' + user.getLastModifiedDate()}"></p>
        </div>
        <div>
            <label>Account is enabled: </label>
            <input type="checkbox" th:field="*{enabled}" th:value="${user.enabled}"/>
        </div>
        <div>
            <label>Account is not locked: </label>
            <input type="checkbox" th:field="*{accountNonLocked}" th:value="${user.accountNonLocked}"/>
        </div>
        <div>
            <label>Account has not expired: </label>
            <input type="checkbox" th:field="*{accountNonExpired}" th:value="${user.accountNonExpired}"/>
        </div>
        <div>
            <label>Account credentials have not expired: </label>
            <input type="checkbox" th:field="*{credentialsNonExpired}"
                   th:value="${user.credentialsNonExpired}"/>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-2">
                <button class="btn btn-info" type="submit">Save changes</button>
            </div>
            <div class="col-sm-8">
                <a class="btn btn-outline-primary" th:href="@{/teachers/{teacherId}(teacherId=${teacher.id})}"
                   role="button">View summary</a>
            </div>
        </div>
    </form>

    <hr>
    <form th:action="@{/resetPassword/{ID}(ID=${user.id})}" method="post"
          sec:authorize="hasAuthority('admin.update')">
        <input type="submit" value="Reset password" style="width: 200px"/>
        <span class="help-block">
                    <!--/*@thymesVar id="confirmReset" type="java.lang.String"*/-->
                    <p class="alert-success" th:if="${confirmReset != null}" th:text="${confirmReset}"></p>
                </span>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>