<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Anonymise student</title>
</head>
<body>
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<div class="container" sec:authorize="hasAuthority('admin.update')">
    <div class="row">
        <div class="col">
            <h2>Student details</h2>
        </div>
    </div>
    <!--/*@thymesVar id="student" type="com.secure_srm.model.people.Student"*/-->
    <form th:if="${!student.isAnonymised()}" th:object="${student}" method="post"
          th:action="@{/students/{studentId}/anon(studentId=(${student.getId()}))}">
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Student name</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50" th:text="*{firstName}">First name to appear here</label>
                <label size="100" th:text="*{middleNames}">Middle names to appear here</label>
                <label size="50" th:text="*{lastName}">Last name to appear here</label>
            </div>
            <!--/*@thymesVar id="newStudent" type="java.lang.String"*/-->
            <span class="help-block" th:if="${newStudent != null}">
                <p class="alert alert-info" th:text="${newStudent}"></p>
            </span>
        </div>
        <br/>
        <span th:if="${guardians.isEmpty()}">
            <!--/*@thymesVar id="guardian" type="com.secure_srm.model.security.GuardianUser"*/-->
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Guardian name</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50">(Not registered with any guardians)</label>
            </div>
        </div>
        </span>
        <span th:unless="${guardians.isEmpty()}">
            <div class="row align-items-start" th:each="guardian: ${guardians}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Guardian name</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50"><a th:text="${guardian.firstName + ' ' + guardian.lastName}"
                                    th:href="@{/guardians/{guardianId}(guardianId=${guardian.id})}"></a></label>
            </div>
        </div>
        </span>
        <br/>

        <!--/*@thymesVar id="contactDetail" type="com.secure_srm.model.people.ContactDetail"*/-->
        <div th:object="${contactDetail}">
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label" size="30"><b>Email address</b></label>
                </div>
                <div class="col-sm-8">
                <span th:if="${contactDetail == null || contactDetail.email.isEmpty()}">
                    <label size="50">(No email address on record)</label>
                </span>
                    <span th:unless="${contactDetail == null || contactDetail.email.isEmpty()}">
                    <label size="50" th:text="*{email}">Email address to appear here</label>
                </span>
                </div>
            </div>
            <br/>
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label" size="30"><b>Phone number</b></label>
                </div>
                <div class="col-sm-8">
                <span th:if="${contactDetail == null || contactDetail.phoneNumber.isEmpty()}">
                    <label size="50">(No phone number on record)</label>
                </span>
                    <span th:unless="${contactDetail == null || contactDetail.phoneNumber.isEmpty()}">
                    <label size="50" th:text="*{phoneNumber}">Phone number to appear here</label>
                </span>
                </div>
            </div>
        </div>
        <br/>

        <!--/*@thymesVar id="teacher" type="com.secure_srm.model.security.TeacherUser"*/-->
        <div class="row align-items-start" th:object="${teacher}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Personal tutor</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${teacher == null}">
                    <label size="50" >(Not assigned to a tutor)</label>
                </span>
                <span th:unless="${teacher == null}">
                    <label size="50"><a th:text="${teacher.firstName + ' ' + teacher.lastName}"
                                        th:href="@{/teachers/{teacherId}(teacherId=${teacher.id})}"></a></label>
                </span>
            </div>
        </div>

        <!--/*@thymesVar id="formGroupList" type="com.secure_srm.model.people.FormGroupList"*/-->
        <div class="row align-items-start" th:object="${formGroupList}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Form group</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${formGroupList == null}">
                    <label size="50">(Not assigned to a group)</label>
                </span>
                <span th:unless="${formGroupList == null}">
                    <label size="50"><a th:text="*{groupName}" th:href="@{/formGroupList/{formID}(formID=${formGroupList.id})}"></a></label>
                </span>
            </div>
        </div>
        <br/>

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Subject group names</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${student.getSubjectClassLists().size() == 0}">
                    <label size="50">(Not registered for any subjects)</label>
                </span>
                <!--/*@thymesVar id="subjectList" type="com.secure_srm.model.people.SubjectClassList"*/-->
                <span th:unless="${student.getSubjectClassLists().size() == 0}" th:each="subjectList: ${subjectClassLists}">
                    <div>
                        <label><a th:text="${subjectList.groupName + ' (' + subjectList.subject.subjectName + ')'}"
                                  th:href="@{/subjectClassList/{ID}(ID=${subjectList.id})}"></a></label>
                    </div>
                </span>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Some other variable</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50" th:remove="all">Info about other variables goes here</label>
                <label size="50" th:text="${'ID of student is ' + student.getId()}"></label>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-10">
                <p>Please confirm. This will overwrite all personally identifying records for this student and associated guardians.
                    If the guardians on file are not assigned to any student on file, then their records will be removed from the database.</p>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-10">
                <a class="btn btn-outline-info" href="/students/index" role="button">Student index</a>
                <button class="btn btn-danger" type="submit">Anonymise student</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>