<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>New student</title>
</head>
<body>
<nav th:replace="fragments/navStudentSearch :: nav"></nav>

<div class="container">
    <br/>
    <div class="row">
        <div class="col">
            <h2>New student record</h2>
        </div>
    </div>
    <br/>
    <!--/*@thymesVar id="student" type="com.secure_srm.model.people.Student"*/-->
    <form th:object="${student}" th:action="@{/students/new}" method="post" class="form-horizontal" id="add-student-form">
        <div class="row align-items-start">

            <div th:if="${#fields.hasErrors('*')}" class="col-sm-12 alert alert-danger" role="alert">
                <p>Errors with form data listed below</p>
            </div>

            <div class="col-sm-2">
                <label class="control-label">Student name</label>
            </div>
            <div class="col-sm-8" th:class="${#fields.hasErrors('*')} ? 'col-sm-8 has-error' : 'col-sm-8'">
                <input size="50" placeholder="First name" th:field="*{firstName}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Error</li>
                    </ul>
                </span>

                <input size="50" placeholder="Middle names" th:field="*{middleNames}"/>

                <input size="50" placeholder="Last name" th:field="*{lastName}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Error</li>
                    </ul>
                </span>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-2">
                <button class="btn btn-info" type="submit">Add student</button>
            </div>
        </div>
    </form>
    <br/>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>