<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Student details</title>
</head>
<body>
<nav th:replace="fragments/navSearch :: nav"></nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Student details</h2>
        </div>
    </div>
    <br/>
    <!--/*@thymesVar id="student" type="com.secure_srm.model.people.Student"*/-->
    <form th:object="${student}" method="get">
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Student name</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50" th:text="*{firstName}">First name to appear here</label>
                <label size="100" th:text="*{middleNames}">Middle names to appear here</label>
                <label size="50" th:text="*{lastName}">Last name to appear here</label>
            </div>
            <!--/*@thymesVar id="newStudent" type="java.lang.String"*/-->
            <span class="help-block" th:if="${newStudent != null}">
                <p class="alert alert-info" th:text="${newStudent}"></p>
            </span>
        </div>
        <br/>
        <!--/*@thymesVar id="guardian" type="com.secure_srm.model.security.GuardianUser"*/-->
        <div class="row align-items-start" th:each="guardian: ${guardians}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Guardian name</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50" th:text="${guardian.firstName + ' ' + guardian.lastName}">Guardian name to appear here</label>
            </div>
        </div>
        <br/>

        <!--/*@thymesVar id="contactDetail" type="com.secure_srm.model.people.ContactDetail"*/-->
        <div th:object="${contactDetail}">
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label" size="30"><b>Email address</b></label>
                </div>
                <div class="col-sm-8">
                <span th:if="${contactDetail == null}">
                    <label size="50">No email address on record</label>
                </span>
                    <span th:unless="${contactDetail == null}">
                    <label size="50" th:text="*{email}">Email address to appear here</label>
                </span>
                </div>
            </div>
            <br/>
            <div class="row align-items-start">
                <div class="col-sm-2">
                    <label class="control-label" size="30"><b>Phone number</b></label>
                </div>
                <div class="col-sm-8">
                <span th:if="${contactDetail == null}">
                    <label size="50">No phone number on record</label>
                </span>
                    <span th:unless="${contactDetail == null}">
                    <label size="50" th:text="*{phoneNumber}">Phone number to appear here</label>
                </span>
                </div>
            </div>
        </div>
        <br/>

        <!--/*@thymesVar id="teacher" type="com.secure_srm.model.security.TeacherUser"*/-->
        <div class="row align-items-start" th:object="${teacher}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Personal tutor</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${teacher == null}">
                    <label size="50" >Not assigned to a tutor</label>
                </span>
                <span th:unless="${teacher == null}">
                    <label size="50" th:text="${teacher.firstName + ' ' + teacher.lastName}">Name</label>
                </span>
            </div>
        </div>

        <!--/*@thymesVar id="formGroupList" type="com.secure_srm.model.people.FormGroupList"*/-->
        <div class="row align-items-start" th:object="${formGroupList}">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Form group</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${formGroupList == null}">
                    <label size="50">Not assigned to a group</label>
                </span>
                <span th:unless="${formGroupList == null}">
                    <label size="50" th:text="*{groupName}">Form group name to appear here</label>
                </span>
            </div>
        </div>
        <br/>

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Subjects studied</b></label>
            </div>
            <div class="col-sm-8">
                <span th:if="${student.getSubjectClassLists().size() == 0}">
                    <label size="50">Not registered for any subjects</label>
                </span>
                <!--/*@thymesVar id="subjectList" type="com.secure_srm.model.people.SubjectClassList"*/-->
                <span th:unless="${student.getSubjectClassLists().size() == 0}" th:each="subjectList: ${subjectClassLists}">
                    <label size="50" th:text="${'Group name: ' + subjectList.groupName}">Subject group name to appear here</label>
                    <label size="50" th:text="${'Subject: ' + subjectList.groupName}">Subject name to appear here</label>
                </span>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label" size="30"><b>Some other variable</b></label>
            </div>
            <div class="col-sm-8">
                <label size="50" th:remove="all">Info about other variables goes here</label>
                <label size="50" th:text="${'ID of student is ' + student.getId()}"></label>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-10">
                <a class="btn btn-outline-info" href="/students/" role="button">Student index</a>
                <a class="btn btn-outline-warning" th:href="@{/students/{studentId}/edit(studentId=${student.id})}" role="button">Edit record</a>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>