<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Student index</title>
</head>
<body>
<nav th:replace="fragments/navSearch :: nav"></nav>

<div class="container-fluid px-0" sec:authorize="hasAuthority('teacher.read')">
    <table class="table table-hover table-sm table-striped my-auto mx-0">
        <thead class="thead-light">
        <tr>
            <th class="px-3">ID</th>
            <th class="px-3">First name</th>
            <th class="px-3">Middle names</th>
            <th class="px-3">Last name</th>
            <th class="px-3">Phone number</th>
            <th class="px-3">Tutor's name</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="student" type="com.secure_srm.model.people.Student"*/-->
        <tr th:each="student: ${students}">
            <th class="px-3"><a role="button" class="btn btn-sm btn-outline-info"
                                th:href="@{/students/{studentID}(studentID=${student.id})}" th:text="${student.id}"></a></th>
            <td class="px-3" th:text="${student.firstName}"></td>
            <td class="px-3" th:text="${student.middleNames}"></td>
            <td class="px-3" th:text="${student.lastName}"></td>

            <span th:if="${student.contactDetail == null}">
                <td class="px-3">No phone number on record</td>
            </span>
            <span th:unless="${student.contactDetail == null}">
                <td class="px-3" th:text="${student.contactDetail.phoneNumber}"></td>
            </span>

            <span th:if="${student.teacher == null}">
                <td class="px-3">Not assigned a tutor</td>
            </span>
            <span th:unless="${student.teacher == null}">
                <td class="px-3"
                    th:text="${student.getTeacher().getFirstName() + ' ' + student.getTeacher().getLastName()}"></td>
            </span>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>