<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Guardian index</title>
</head>
<body>
<nav th:replace="fragments/navGuardianSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<div class="container" sec:authorize="hasAuthority('admin.create')">
    <br/>
    <div class="row">
        <div class="col">
            <h2>Guardian details</h2>
        </div>
    </div>
    <br/>
    <!--/*@thymesVar id="guardian" type="com.secure_srm.model.security.GuardianUser"*/-->
    <form th:object="${guardian}" method="post" th:action="@{/guardians/new}" class="form-horizontal" id="add-guardian-form">
        <div class="row align-items-start">

            <div th:if="${#fields.hasErrors('*')}" class="col-sm-12 alert alert-danger" role="alert">
                <p>Errors with form data listed below</p>
            </div>

            <div class="col-sm-2">
                <label class="control-label">Guardian name</label>
            </div>
            <div class="col-sm-8" th:class="${#fields.hasErrors('*')} ? 'col-sm-8 has-error' : 'col-sm-8'">
                <input size="50" placeholder="First name" th:field="*{firstName}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Error</li>
                    </ul>
                </span>
                <input size="50" placeholder="Last name" th:field="*{lastName}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Error</li>
                    </ul>
                </span>
            </div>
        </div>
        <br/>
        <div class="row align-items-start">
            <div class="col-sm-2">
                <button class="btn btn-info" type="submit">Add guardian</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>