<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-database"></i> SRM Web-login</a>
    <!-- collapsable button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('guardian.read')" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="webLoginDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Personnel</a>
                <div class="dropdown-menu" aria-labelledby="dbDropdown">

                    <span sec:authorize="hasAuthority('admin.create')">
                        <div class="dropdown-header">New...</div>
                        <a class="dropdown-item" th:href="@{/students/new}">Student</a>
                        <a class="dropdown-item" th:href="@{/teachers/new}">Teacher</a>
                        <a class="dropdown-item" th:href="@{/guardians/new}">Guardian</a>
                        <a class="dropdown-item" th:href="@{/formGroupList/new}">Form group</a>
                        <a class="dropdown-item" th:href="@{/subjectClassList/new}">Subject class</a>
                    </span>

                    <span sec:authorize="hasAuthority('teacher.read')">
                        <div class="dropdown-header">Show...</div>
                        <a class="dropdown-item" th:href="@{/students/index}">Student summary</a>
                        <a class="dropdown-item" th:href="@{/teachers/index}">Teacher summary</a>
                        <a class="dropdown-item" th:href="@{/guardians/index}">Guardian summary</a>
                        <a class="dropdown-item" th:href="@{/formGroupList/index}">Form group summary</a>
                        <a class="dropdown-item" th:href="@{/subjectClassList/index}">Subject class summary</a>
                    </span>
                    <div class="dropdown-divider"></div>
                    <span sec:authorize="hasAuthority('admin.create')">
                        <div class="dropdown-header"><i class="fas fa-user-edit"></i> Weblogin accounts</div>
                        <a class="dropdown-item" href="/userPage">View DB user records</a>
                        <a class="dropdown-item" href="/adminPage">Edit DB user records</a>
                    </span>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="testRecordDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Academic</a>
                <div class="dropdown-menu" aria-labelledby="dbDropdown">
                    <!--/*@thymesVar id="hasSubject" type="java.lang.Boolean"*/-->
                    <span th:object="${hasSubject}">
                        <div class="dropdown-header">New...</div>
                        <a sec:authorize="hasAuthority('admin.create')" class="dropdown-item" th:href="@{/subjects/new}">Subject</a>
                        <a sec:authorize="hasAuthority('admin.create')" class="dropdown-item" th:href="@{/assignmentTypes/new}">Assignment type</a>
                        <a th:if="${hasSubject}" sec:authorize="hasAuthority('teacher.create')" class="dropdown-item" th:href="@{/studentTask/new}">Student task</a>
                        <a th:if="${hasSubject}" sec:authorize="hasAuthority('teacher.create')" class="dropdown-item" th:href="@{/studentReports/new}">Student report</a>
                    </span>
                    <div class="dropdown-header">Show...</div>
                    <a class="dropdown-item" th:href="@{/subjects/index}">Subject summary</a>
                    <a class="dropdown-item" th:href="@{/assignmentTypes/index}">Assignment type summary</a>
                    <a class="dropdown-item" th:href="@{/studentTask/index}">Student task summary</a>
                    <a class="dropdown-item" th:href="@{/studentReports/index}">Student report summary</a>
                </div>
                <div class="dropdown-menu" aria-labelledby="dbDropdown">
                    <div class="dropdown-header">Test records</div>
                    <a class="dropdown-item" th:href="@{/testRecord}"><i class="far fa-newspaper"></i> View/edit test records</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="hasAuthority('admin.create')">
                <a class="btn btn-primary mr-sm-2" type="button" th:href="@{/subjects/new}">New Subject</a>
            </li>
            <!--        name="lastName" must match controller listStudents() parameter-->
            <form class="form-inline my-2 my-lg-0" th:action="@{/subjects/index}" method="get" sec:authorize="hasAuthority('teacher.read')">
                <input class="form-control mr-sm-2" type="text" name="subjectTitle" placeholder="Subject title" aria-label="Search" maxlength="50">
                <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
            </form>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> User account</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dbDropdown">
                    <div class="dropdown-header" sec:authorize="hasAuthority('guardian.read')">Username: <span
                            sec:authentication="name"></span></div>
                    <a class="dropdown-header" href="/authenticated" sec:authorize="hasAuthority('guardian.update')"><i class="fas fa-user-cog"></i> Account settings</a>
                    <form class="dropdown-item" th:action="@{/login}" method="get" sec:authorize="!isAuthenticated()">
                        <button type="submit" class="btn btn-group-sm btn-outline-info"><i class="fas fa-sign-in-alt"></i> LOGIN</button>
                    </form>
                    <form class="dropdown-item" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <button type="submit" class="btn btn-group-sm btn-outline-warning"><i class="fas fa-sign-out-alt"></i> LOGOUT</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>