<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>New academic threshold list</title>
</head>
<body>
<nav th:replace="fragments/navThresholdListSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<div class="container" sec:authorize="hasAuthority('teacher.create')">
    <div class="row">
        <div class="col">
            <h2>New academic threshold list</h2>
            <p>Conducting a search will reset any changes entered. Perform any searches needed before submitting changes.</p>
        </div>
    </div>

    <form method="get" th:action="@{/thresholdLists/new/search}"
          class="form-horizontal" id="refine-teachers-form">
        <div class="row align-items-start">
            <div class="col-sm-2">
                <label>Threshold search</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control mr-sm-2" type="text" name="thresholdUniqueId" placeholder="Threshold unique ID"
                       aria-label="Search" maxlength="50">
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label>Student tasks</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control mr-sm-2" type="text" name="studentTaskTitle" placeholder="Student task title"
                       aria-label="Search" maxlength="50">
                <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br />

    <!--/*@thymesVar id="thresholdList" type="com.secure_srm.model.academic.ThresholdList"*/-->
    <form th:object="${thresholdList}" method="post" th:action="@{/thresholdLists/new}"
          class="form-horizontal" id="change-teacherSet-form">

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label">Thresholds</label>
            </div>
            <div class="col-sm-8">
                <table class="table table-hover table-sm table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th class="px-3">Threshold unique ID</th>
                        <th class="px-3">Numerical boundary</th>
                        <th class="px-3">Letter grade/designation</th>
                    </tr>
                    </thead>
                    <tbody>
                        <span th:if="${thresholds.isEmpty()}">
                            <tr>
                                <td></td>
                                <td>No thresholds on record</td>
                                <td></td>
                            </tr>
                        </span>
                        <span th:unless="${thresholds.isEmpty()}">
                            <!--/*@thymesVar id="thresholdFound" type="com.secure_srm.model.academic.Threshold"*/-->
                            <tr th:each="thresholdFound: ${thresholds}">
                                <td>
                                    <input type="checkbox" th:field="*{thresholds}" th:value="${thresholdFound.id}"/>
                                    <label><a th:text="${thresholdFound.uniqueId}"
                                              th:href="@{/thresholds/{id}(id=${thresholdFound.id})}"></a> </label>
                                </td>
                                <td th:text="${thresholdFound.numerical}"></td>
                                <td th:text="${thresholdFound.alphabetical}"></td>
                            </tr>
                        </span>
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label">Student tasks</label>
            </div>
            <div class="col-sm-8">
                <table class="table table-hover table-sm table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th class="px-3">Title</th>
                        <th class="px-3">Subject</th>
                        <th class="px-3">Task owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <span th:if="${studentTasks.isEmpty()}">
                            <tr>
                                <td></td>
                                <td>No student tasks on record</td>
                                <td></td>
                            </tr>
                        </span>
                    <span th:unless="${studentTasks.isEmpty()}">
                            <!--/*@thymesVar id="task" type="com.secure_srm.model.academic.StudentTask"*/-->
                            <tr th:each="task: ${studentTasks}">
                                <td>
                                    <input type="checkbox" th:field="*{studentTaskSet}" th:value="${task.id}"/>
                                    <label><a th:text="${task.title}"
                                              th:href="@{/studentTask/{id}(id=${task.id})}"></a> </label>
                                </td>
                                <td th:text="${task.subject.subjectName}"></td>
                                <td th:text="${task.teacherUploader.firstName + ' ' + task.teacherUploader.lastName}"></td>
                            </tr>
                        </span>
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label">Unique ID</label>
            </div>
            <div class="col-sm-8">
                <input size="50" placeholder="Unique identifier" th:field="*{uniqueID}"/>
                <p>The unique identifier is compared to all thresholds for the current teacher only (not against all teachers). Different teachers can save thresholds with the same identifier.</p>
                <!--/*@thymesVar id="thresholdListFeedback" type="java.lang.String"*/-->
                <span class="help-block" th:if="${thresholdListFeedback != null}">
                    <p class="alert alert-info" th:text="${thresholdListFeedback}"></p>
                </span>
            </div>
        </div>
        <br />

        <div class="row align-items-start">
            <div class="col-sm-2">
                <label class="control-label">Threshold list owner</label>
            </div>
            <div class="col-sm-8">
                <label class="control-label" th:text="${thresholdList.uploader.firstName + ' ' + thresholdList.uploader.lastName}"></label>
            </div>
        </div>

        <br />
        <div class="row align-items-start" sec:authorize="hasAuthority('teacher.create')" >
            <div class="col-sm-2">
                <button class="btn btn-info" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <br />

    <div class="row align-items-start">
        <div class="col-sm-5">
            <a class="btn btn-outline-primary" th:href="@{/thresholdLists/index}"
               role="button">Return to threshold-list index</a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>