<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Login page</title>
</head>
<body>
<nav th:replace="fragments/navNoSearch :: nav"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="row-md-12">
            <!--this uses many of the Spring Security defaults-->
            <!--<p th:if="${loginError}" class="error" style="color: red">Wrong user or password</p>-->

            <div class="alert alert-warning" role="alert" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Bad credentials'">Invalid Username or Password</div>
            <div class="alert alert-warning" role="alert" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'User account is locked'">User Account is Locked.</div>

            <form th:action="@{/login}" method="post" class="form-signin">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Please enter your login details</h1>
                </div>

                <div class="form-label-group">
                    <input type="text" id="username" class="form-control" name="username" autofocus required autocomplete="off"/>
                    <label for="username">Username: </label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="password" name="password" class="form-control" required />
                    <label for="password">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label for="remember-me">Remember me: </label>
                    <input type="checkbox" id="remember-me" name="remember-me">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>