<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Troubleshooting</title>
</head>
<body style="background-color: mintcream">
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<!--/*@thymesVar id="resolution" type="java.lang.String"*/-->
<div class="container" sec:authorize="hasAuthority('teacher.read')">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-9">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    List of problems
                </div>
                <div class="card-body">
                    <h5 class="card-title">Problem</h5>
                    <p th:object="${message}" th:text="${message}"></p>
                    <p th:object="${resolution}" th:if="${resolution != null}"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="${resolution}">Resolve</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>