<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Welcome page</title>
</head>
<body style="background-color: mintcream">
<nav th:replace="fragments/navSearch :: nav"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col" id="navigationHeader">
            <h3>Welcome</h3>

            <div sec:authorize="isAuthenticated()">
                <p>You are logged in with the username "<b><span sec:authentication="name"></span></b>". Click the desired option to view or edit (if authorised)</p>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <p><a href="/login">Proceed</a> to the login page</p>
            </div>
        </div>
    </div>
</div>

<div class="container" sec:authorize="hasAuthority('teacher.update')">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-9">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    Academic data
                </div>
                <div class="card-body">
                    <h5 class="card-title">Students' scores</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-info">Scores by form group</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-info">Scores by subject class</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-info">Scores by subject</a></p>
                    <h5 class="card-title">Assignments</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-secondary">Assignments by teacher</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-secondary">Assignments by subject</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-secondary">Assignment thresholds and awards/grades</a></p>
                    <h5 class="card-title">Student reports</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-primary">Student reports/comments by assignment</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-primary">Reports to parents</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-9">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    Personnel data
                </div>
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/students/index}">Student summary</a></p>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/students/new}">Create new student record</a></p>
                    <h5 class="card-title">Guardians</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-secondary">Guardian summary</a></p>
                    <h5 class="card-title">Teachers</h5>
                    <p><a role="button" class="btn btn-sm btn-block btn-outline-primary">Teacher summary</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" sec:authorize="!hasAuthority('teacher.update')">
    <div class="row justify-content-center" sec:authorize="isAuthenticated()">
        <div class="col-md-7 rounded-top navigationBoxheaderL">
            <h4>Student data</h4>
        </div>
    </div>
    <div class="row justify-content-center" sec:authorize="isAuthenticated()">
        <div class="col-md-7 rounded-bottom navigationOptionsL">
            <h5>Student</h5>
            <p><a role="button" class="btn btn-sm btn-block btn-outline-info">Student details</a></p>
            <h5>Guardian</h5>
            <p><a role="button" class="btn btn-sm btn-block btn-outline-secondary">Guardian details</a></p>
            <h5>Teacher</h5>
            <p><a role="button" class="btn btn-sm btn-block btn-outline-primary">Teacher details</a></p>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>