<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Welcome page</title>
</head>
<body style="background-color: mintcream">
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12" id="navigationHeader">
            <h3>Welcome</h3>

            <div sec:authorize="isAuthenticated()">
                <p>You are logged in with the username "<b><span sec:authentication="name"></span></b>"</p>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <p><a href="/login">Proceed</a> to the login page</p>
            </div>
        </div>
    </div>
</div>
<!--/*@thymesVar id="hasSubject" type="java.lang.Boolean"*/-->
<div class="container" sec:authorize="hasAuthority('teacher.read')">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-9">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    Academic data
                </div>
                <div class="card-body" th:object="${hasSubject}">
                    <h5 class="card-title">Student results</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/studentResult/index}">View student results</a></p>
                    <p sec:authorize="hasAuthority('teacher.create')" th:if="${hasSubject}"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/studentResult/new}">New student result</a></p>
                    <h5 class="card-title">Assignment types and tasks</h5>
                    <p sec:authorize="hasAuthority('admin.read')"><a role="button" class="btn btn-sm btn-block btn-outline-secondary" th:href="@{/assignmentTypes/index}">View assignment types</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-secondary" th:href="@{/assignmentTypes/new}">New assignment type</a></p>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-secondary" th:href="@{/studentTask/index}">View student tasks</a></p>
                    <p sec:authorize="hasAuthority('teacher.create')" th:if="${hasSubject}"><a role="button" class="btn btn-sm btn-block btn-outline-secondary" th:href="@{/studentTask/new}">New student task</a></p>
                    <h5 class="card-title">Academic thresholds and threshold-lists</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/thresholds/index}">View academic thresholds</a></p>
                    <p sec:authorize="hasAuthority('teacher.create')" th:if="${hasSubject}"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/thresholds/new}">New academic threshold</a></p>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/thresholdLists/index}">View threshold-lists</a></p>
                    <p sec:authorize="hasAuthority('teacher.create')" th:if="${hasSubject}"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/thresholdLists/new}">New threshold-list</a></p>
                    <h5 class="card-title">Student reports</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/studentReports/index}">View student reports</a></p>
                    <p sec:authorize="hasAuthority('teacher.create')" th:if="${hasSubject}"><a role="button" class="btn btn-sm btn-block btn-outline-primary" th:href="@{/studentReports/new}">New student report</a></p>
                    <h5 class="card-title">Subjects</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/subjects/index}">View subjects</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/subjects/new}">New subject</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-9">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    Personnel data
                </div>
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/students/index}">View student records</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/students/new}">New student record</a></p>
                    <h5 class="card-title">Teachers</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/teachers/index}">View teacher records</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/teachers/new}">New teacher record</a></p>
                    <h5 class="card-title">Guardians</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/guardians/index}">View guardian records</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/guardians/new}">New guardian record</a></p>
                    <h5 class="card-title">Form groups</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/formGroupList/index}">View form groups</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/formGroupList/new}">New form group</a></p>
                    <h5 class="card-title">Subject classes</h5>
                    <p sec:authorize="hasAuthority('teacher.read')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/subjectClassList/index}">View subject classes</a></p>
                    <p sec:authorize="hasAuthority('admin.create')"><a role="button" class="btn btn-sm btn-block btn-outline-info" th:href="@{/subjectClassList/new}">New subject class</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" sec:authorize="!hasAuthority('teacher.update')">
    <div class="row justify-content-center" sec:authorize="isAuthenticated()">
        <div class="col-md-7 rounded-top navigationBoxheaderL">
            <h4>TODO: parents' portal page</h4>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>