<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: baseHead(~{::title})">
    <title>Form group</title>
</head>
<body>
<nav th:replace="fragments/navStudentSearch :: nav"></nav>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<!--/*@thymesVar id="formGroup" type="com.secure_srm.model.people.FormGroupList"*/-->
<div class="container" sec:authorize="hasAuthority('teacher.read')">
    <div class="row">
        <div class="col">
            <h2 th:text="${'Form group: ' + formGroup.groupName}">Title</h2>
        </div>
    </div>
    <!--/*@thymesVar id="newList" type="java.lang.String"*/-->
    <span class="help-block" th:if="${newList != null}">
        <p class="alert alert-info" th:text="${newList}"></p>
    </span>
    <br />
    <div class="row align-items-start">
        <div class="col-sm-2">
            <label><b>Personal Tutor</b></label>
        </div>
        <div class="col-sm-8">
            <label th:text="${formGroup.teacher.firstName + ' ' + formGroup.teacher.lastName}"></label>
        </div>
    </div>
    <br />
    <div class="row align-items-start">
        <div class="col-sm-2">
            <label><b>Students</b></label>
        </div>
        <div class="col-sm-8">
            <table class="table table-hover table-sm table-striped my-auto mx-0">
                <thead class="thead-light">
                <tr>
                    <th class="px-3">ID</th>
                    <th class="px-3">Student last name</th>
                    <th class="px-3">Student first name</th>
                </tr>
                </thead>
                <tbody th:object="${studentList}">
                    <tr th:if="${studentList.isEmpty()}">
                        <th class="px-3"></th>
                        <td class="px-3">(no students in this group)</td>
                        <td class="px-3"></td>
                    </tr>
                    <tr th:unless="${studentList.isEmpty()}" th:each="student: ${studentList}">
                        <th class="px-3"><a role="button" class="btn btn-sm btn-outline-info"
                                            th:href="@{/students/{id}(id=${student.id})}" th:text="${student.id}"></a></th>
                        <td class="px-3" th:text="${student.lastName}"></td>
                        <td class="px-3" th:text="${student.firstName}"></td>
                    </tr>
                </span>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-sm-4">
            <a class="btn btn-outline-warning" th:href="@{/formGroupList/{formId}/edit(formId=${formGroup.id})}"
               role="button" sec:authorize="hasAuthority('admin.update')">Add/remove students</a>
        </div>
    </div>
    <br />
    <div class="row align-items-start">
        <div class="col-sm-4">
            <a class="btn btn-outline-info" href="/formGroupList/" role="button">Form group list</a>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>